<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body id="<%= pageID%>">

<%include partials/template/header.ejs %>

<% include partials/content/feedbackcontent.ejs %>

<% include partials/template/defaultscripts.ejs %>
</body>
</html>